
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  main section{
    margin-top: 130px;
    margin-bottom: 130px;
  }
/* nav styel */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.titel{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}

/* sheyar styel */

.dark-2{
    color: #474747 ;
}
.bty-py{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.rrr{
    color: #FD6E0A;
}

/* digain */
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* benar */
.benar-wel{
    font-size: 45px;
    font-weight: 600px;

}
.benar-2{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}

.benar{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}
.pic{
    height: 676px;
    width: 584px;
}
/* about */
.div-about{
    background-color: #FFFFFF;
    height: 306px;
    width: 827px;
}

.about{
    border-radius: 10px;
    padding: 131px 156px;
    background-color: #FFF8F3;
    text-align: center;
    margin-top: 130px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-1st{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.about-peragrap{
    color: #757575;
}
.it-titel{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    /* margin-top: 2px; */
}
.it-discr{
    color: #757575;
}
.items{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    
}
.skill-discr{
    text-align: center;
    padding: 0px 200px;
}

/* skill paceat */
.skill-packet{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
 
    box-shadow: 0px 6px 50px 0px black;
}

/* resume section styel */
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-titel{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.exp-titel{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.exp-sub-titel{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}
.exp-discr{
    font-size: 16px;
    font-weight: normal;
    color: #757575;
}
.resume hr{
    margin: 25px 5px;
}
.cv{
    margin-top: 100px;
    
}
.cv-1{
    text-align: center;
}

/* footer section */
footer{
    display: flex;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
    justify-content: space-between;
}
.section-titel{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-discr{
    font-size: 16px;
    font-weight: normal;
    color: #757575;
    padding: ;
}
/* .section-social{ */
    padding: 25px;
}
.footer-colum{
    width: 50%;
}
.section-social a{
    margin-right: 30px;
}
.contact{
    padding: 18px 150px 30px 30px;
    font-size: 16px;
    border-radius: 10px;
    color: #757575;
    background-color: #fff;
    border: 0;
}